<ion-content [fullscreen]="true" class="ion-padding">



     <ion-card>
    <ion-card-header>
      <ion-card-title>Where to start</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Go to setup automation page to start off to setup up the
       folders needed then you want to install the emulators for the games needed.
      </p>
      <p>
        Enjoy!
      </p>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>How Downloads Work</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Some download buttons will take you to an external site to get the game.
Some downloads come in multiple parts. Download all parts, put them in the same folder, and extract Part 1 — this will automatically combine everything into the full game file
 Once the download is complete, come back here and use the <strong>Setup Automation</strong> page to extract files if you did not extract them your
 self and move them where they need to go.
      </p>
      <p>
        If the download starts directly, it will be handled by the app and placed in the proper folder automatically.
      </p>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>Need Help?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>If anything breaks or you’re confused, feel free to message me on Discord so I can fix it.</p>
      <ion-item lines="none">
        <ion-icon name="logo-discord" slot="start" color="medium"></ion-icon>
        <ion-label>
          <strong>Discord:</strong> april17
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>For the Vibes</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <p>Why not enjoy a little meme while you wait?</p>
      <img src="https://i.kym-cdn.com/photos/images/newsfeed/003/035/086/cb4.gif" alt="funny meme" style="max-width: 100%; border-radius: 12px; box-shadow: 0 2px 10px rgba(0,0,0,0.2);" />
    </ion-card-content>
  </ion-card>

</ion-content>
